#shlokas {
    color: brown;
}

#shlokas_imgs {
    margin-left: 20%;
    width: 60%;
}
#content-part{
    margin-left: 18%;
}


@media (min-width:200px) and (max-width:500px) {
    #shlokas_imgs {
        margin-left: 0%;
        width: 60%;
    }
    #content-part{
        margin-left: 1%;
    }
}