#content_img {
    height: 240px;
    margin: 10px;
    width: 200px;
    border: 2px solid black;
}

.shloka {
    color: brown;
    font-weight: 500;
}

#shloka_box {
    background-color: rgba(252, 204, 116, 0.534);
    border: 1px solid silver;
    padding: 10px;
    margin: 20px 0px;
    text-align: center;
    position: relative;
}

#content-part{
    margin-left: 260px;
}

@media (max-width: 767px) {
    #content-part {
        margin-left: 5px;
    }
}
/* 
.controls{
    position:absolute;
    background-color: white;
    width:25px;
    height: 25px;
} */