/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
} */
#content-part{
    margin-left: 260px;
}
.size{
    font-size: 22px;
    font-weight: 600;
}
#step-image{
    margin-bottom: 100px;
}