#shlokas {
    color: brown;
}

#shlokas_imgs {
    margin-left: 20%;
    width: 60%;
}
#content-part{
    margin-left: 260px;
}

@media (max-width: 767px) {
    #content-part {
        margin-left: 5px;
    }
}