#background {
    background-image: url('IMG/background.jpg');
    background-size: cover;
    z-index: -1;
}

.itemlist{
    margin-left: 1.5rem;
}

#slide_img {
    height: 450px;
    margin-top: -100px;
}

#card-body{
    padding: 0px 10%;
}

#moveToTop{
    height:50px;
    width:50px;
    background-color: aqua;
    position:fixed;
    bottom:50px;
    right:50px;
    z-index: 1;
}

@media (max-width: 550px) {
    #card-body {
        padding-left: 7%;
    }
}