*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: auto;
    width: 100%;
    background-color: black;
}
@media (max-width:890px)
{
    #c3{
    margin-top: 15px;  
    }
}
@media (max-width:604px){
    #c2{
    margin-top: 15px;  
    }

}
.footer{
    background-color: white;
    height: 30vh;
    width: 100%;
    position: relative;
   top:100px;
}
.btn{
    background-color: orange;
}
.btn:hover{
    outline: black;
    color: orange;
}