*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color:#ECF87F; */
    background-color: #add9ce;
   
}
#main-container{
    margin-top: 10vh;
    border: 1px solid black;
    color: whitesmoke;
    /* filter: brightness(); */
    background-image: url(https://images.unsplash.com/photo-1690320276492-08823be529d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}
#quote-1{
    font-size: 25px;
}
#heading{
    border-bottom:2px solid crimson;
}
#quotes-container{
    margin-top: 20vh;
    /* background-image: url(https://cdn2.vectorstock.com/i/1000x1000/40/26/blank-paper-on-colored-splashes-background-vector-3694026.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right; */
    /* background-color: black; */
    color: crimson;
   
}
.translation-box-title{
    font-size: 24px;
}
.translation-box-body{
    font-size: 24px;
}
.last{
    color: white;
    background-color: blue;
    height: auto;
    width: auto;
    background-image: url(https://images.unsplash.com/photo-1690311724917-9307b2fd0cb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10vh;
}
hr{
    color: whitesmoke
}